<section style="background-color: #006E52; padding:1rem">
  <div style="text-align:center;">
    <p style="color : #fff">This banner is created by the Banner App. Current page is <span style="font-weight:bold"> {{page_title}} </span> </p>
  </div>
</section>